/* Variáveis Globais - Importar este ficheiro ou copiar para o topo dos outros */
:root {
    --poke-red: #FF0000;
    --poke-red-dark: #CC0000;
    --poke-blue: #3B4CCA;
    --poke-blue-dark: #2a3b93;
    --poke-yellow: #FFDE00;
    --poke-yellow-dark: #B3A125;
    --slate-50: #f8fafc;
    --gray-200: #e5e7eb;
    --text-main: #1f2937;
}